body{
	font-family: 'Open Sans', sans-serif;
	background-color:#fff;
	font-size:14px;
	font-weight:400;
	background-image:url(../img/bg_body.jpg);
}
.no_margin{ margin:0!important; }
.no_padding{ padding:0!important; }
.margin_bottom_10{ margin-bottom:10px; }

#header{
	margin-bottom:15px;
}

#tasks-list{
	margin-top:10px;
}
#tasks-list .box{
	float:left;
	padding-right:20px;
}
#tasks-list .box .badge{
	font-size:18px;
}
#tasks-list .datetime{
	font-size:10px;
	margin-bottom: 10px;
}
#tasks-list li{
	margin-bottom:4px;
	background-color: rgba(255,255,255,0.6);
}
.add_ok, .add_error, .edit_ok, .edit_error, .delete_ok, .delete_error{
	display: none;
}